<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>315537388956-krd6g602bnkjuocvvcanggef09ugo4jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315537388956-krd6g602bnkjuocvvcanggef09ugo4jn</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Op_xZjJZBTliYrhWg3Kn2PSr_w3-3D0</string>
	<key>GCM_SENDER_ID</key>
	<string>315537388956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>passbrazil.com</string>
	<key>PROJECT_ID</key>
	<string>passbrazil-special-events</string>
	<key>STORAGE_BUCKET</key>
	<string>passbrazil-special-events.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:315537388956:ios:a1fc2536a0952d78</string>
	<key>DATABASE_URL</key>
	<string>https://passbrazil-special-events.firebaseio.com</string>
</dict>
</plist>